name: Linux CI (AppImage)

on:
  push:
  workflow_dispatch:
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v1
        with:
          submodules: 'recursive'
      - name: "Install .NET"
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0.x'
      - name: "Build Project"
        run: dotnet build BnbnavNetClient.Desktop/BnbnavNetClient.Desktop.csproj
      - name: "Publish Project"
        run: dotnet publish BnbnavNetClient.Desktop/BnbnavNetClient.Desktop.csproj -c Release -r linux-x64
      - name: "Create AppDir"
        run: |
          mkdir -p bnbnav.AppDir
          cp -r BnbnavNetClient.Desktop/bin/Release/net7.0/linux-x64/publish/* bnbnav.AppDir
          cp dist/io.github.Vrabbers.bnbnav.desktop bnbnav.AppDir
          cp dist/io.github.Vrabbers.bnbnav.svg bnbnav.AppDir
          ln -s BnbnavNetClient.Desktop bnbnav.AppDir/AppRun
      - name: "Create AppImage"
        run: |
          curl https://github.com/AppImage/AppImageKit/releases/download/13/appimagetool-x86_64.AppImage -o appimagetool-x86_64.AppImage -L
          chmod +x appimagetool-x86_64.AppImage
          ./appimagetool-x86_64.AppImage --appimage-extract-and-run bnbnav.AppDir
      - uses: actions/upload-artifact@v1
        name: "Upload Artifact"
        with:
          name: "bnbnav.AppImage"
          path: "./bnbnav-x86_64.AppImage"
