name: Windows CI

on:
  push:
  workflow_dispatch:
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v1
        with:
          submodules: 'recursive'
      - name: "Install .NET"
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0.x'
      - name: "Build Project"
        run: dotnet build BnbnavNetClient.Desktop/BnbnavNetClient.Desktop.csproj
      - name: "Publish Project"
        run: dotnet publish BnbnavNetClient.Desktop/BnbnavNetClient.Desktop.csproj -c Release -r win-x64
      - uses: actions/upload-artifact@v1
        name: "Upload Artifact"
        with:
          name: "bnbnav-win"
          path: "BnbnavNetClient.Desktop/bin/Release/net7.0/win-x64/publish"
